.header__header {
  align-items: center;
  display: flex;
  height: 200px;
  margin-bottom: 10px;
}

.header__div {
  align-items: center;
  background: #131213;
  border-radius: 0;
  box-shadow: 7px 7px 0 #0a0a0a , -7px -7px 0 #1c1a1c;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  font-weight: 700;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.navLink {
  align-items: center;
  background: #131213;
  border-radius: 0;
  box-shadow: 5px 5px 0 #0a0a0a , -5px -5px 0 #1c1a1c;
  color: #107e22;
  display: flex;
  font-size: 0.8em;
  font-weight: 500;
  height: 60%;
  justify-content: center;
  width: 13%;
}

.navLink:hover {
  box-shadow: 5px 5px 0 #028117 , -5px -5px 0 #636363;
  color: white;
  transform: scale(1.05);
  transition: 0.4s;
}

.header__nav {
  align-items: center;
  display: flex;
  height: 50%;
  justify-content: space-around;
  margin-top: 10px;
  width: 100%;
}

.header__section {
  align-items: flex-end;
  display: flex;
  height: 40%;
  justify-content: space-between;
  width: 88%;
}

.header__span {
  color: #028117;
}

.header__user {
  align-items: center;
  background: #1c1a1c;
  border-radius: 20px;
  display: flex;
  font-size: 0.9em;
  font-weight: 500;
  height: 80%;
  margin-right: 2%;
  width: 20%;
}

.header__image {
  border-radius: 25px;
  height: 100%;
  margin-right: 20px;
}
